.home a {
  margin: 26px
}

.navBarImg {
  width: 60px;
  filter: hue-rotate(120deg);

}

.navBar2 {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: aqua;
}

.listBeers {
  max-width: 60px;
  height: 130px;
}

.card {
  display: flex;
  border-bottom: 2px solid rgb(128, 128, 128);
  padding: 20px;
}

.card2 {
  display: flex;
  text-decoration: none;
  color: black;
}

.description {
  padding: 10px;
  margin-left: 20px;
}

.detImg {
  width: 100px;
display: flex;
justify-content: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
  margin: 20px;
}

.inputs {
  justify-content: center;
}
